<h3>Sign In</h3>

<form action="/admin" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Login" class="btn">

</form>

<h3>Register</h3>

<form action="/register" method="POST">
    <label for="firstname">Firstname</label>
    <input type="text" placeholder="Enter Firstname" name="firstname">
    <label for="lastname">Lastname</label>
    <input type="text" placeholder="Enter Lastname" name="lastname">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username">
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email" name="email">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Register" class="btn">

</form>