<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> myThoughts - All Rights Reserved. <p><a href="/privacy">Privacy</a> and <a
                href="/terms">Terms</a></p>
        Built with <a href="https://nodejs.org/en/">Nodejs,</a> <a href="https://expressjs.com">Express,</a> <a
            href="https://www.mongodb.com/">MongoDB</a> and <a href="https://ejs.co/">EJS</a>
</footer>